Approximate geolocation

### Specification title

Approximate geolocation

### Specification or proposal URL (if available)

_No response_

### Explainer URL (if available)

https://github.com/explainers-by-googlers/approximate-geolocation

### Proposal author(s)

@antosart, @nondebug

### MDN URL

_No response_

### Caniuse.com URL

_No response_

### Bugzilla URL

_No response_

### Mozillians who can provide input

_No response_

### WebKit standards-position

https://github.com/WebKit/standards-positions/issues/470

### Other information

Allow websites to request approximate location via the Geolocation API.

(This is a personal reaction; obviously, I'll need to follow up with my colleagues about what we think about this.)

A long time ago, I worked on geolocation as my entire job.  Like many at the time, I was convinced that there was some value in coarsening location for privacy purposes.  I engaged with some of the very early geolocation API discussions with that in mind.  I developed [a proposal](https://datatracker.ietf.org/doc/html/draft-thomson-geopriv-location-obscuring-03) for coarsening that is considerably more sophisticated than the one this proposal mentions.

Through that process I learned that any system that you think might be effective is often not for a range of reasons.  The methods that LocationFudger uses are on the simplistic end of things, with vulnerabilities on multiple levels.  For instance, if you have any movement -- continuous is worst -- the grid snapping techniques tend to just reveal location when the revealed value changes.  More generally, randomization is incompatible with continuous release of information.

However, more fundamental is that a simplistic "obscure by X meters" approach fails in two ways: human movement operates at multiple scales and human movement is constrained by external factors.  The former is just about how the sensitivity of human movement is privacy sensitive at different scales.  Maybe small scale movement is effectively hidden by a given technique, but that small scale movement might not be privacy sensitive; whereas large scale movement might be sensitive, but it would fail to be protected.

More serious of a concern is that movement (and thus geolocation) is often predictable due to constraints on our physical environment, habits, and other such factors.  Take the example of a person traveling a highway.  A 1km randomization on their location might initially lead to some uncertainty about where they are, but as time passes, their speed becomes evident and the only place where that speed might be achieved is the highway.  Given that highways often result in predictable speeds, any obfuscation method is easily reversed by the assumption of near-constant speed along the highway.

In the time since I reached that conclusion (~15 years ago), I've learned more about differential privacy and this problem might be phrased more precisely in DP terms as not knowing the sensitivity of the underlying metric, making it impossible to apply the appropriate amount of noise.

Either way, I think that the text I wrote in [Section 13.5 of RFC 6772](https://datatracker.ietf.org/doc/html/rfc6772#section-13.5) (the only section in that document that I stand by today) is accurate:

>    Location obscuring is unlikely to be effective against a more determined or resourceful adversary.  Withholding location information entirely is perhaps the most effective method of ensuring that it is not recovered.

The idea that we might deceive people that some amount of randomization is effective at providing privacy is not something I would endorse.  I think that this proposal is outright harmful.

This reminds me of a [2010 blog post](https://web.archive.org/web/20080508234100/http://www.azarask.in/blog/post/geolocation-in-firefox-and-beyond/) from Aza Raskin. This mock is just fantastic in both its vision for the time and its innocent naiveness. 

![Image](https://github.com/user-attachments/assets/b5155e34-52e4-4f8d-96e8-929a43a70522)

Indeed.  I believe that I might have posted a similar piece of UX at around the same time.  We've learned a lot since then.

Thanks for providing your point of view.

As a clarification, the current proposal does not to specify a concrete coarsening algorithm, but only some minimal requirements/guarantees.

For the rest, I think I agree that in case of movement / varying position, and in presence of an adversarial behavior, a determined adversary that can observe coarsened position for a longer time can infer additional information (e.g. "the user is on a highway") and, depending on the circumstances and the exact coarsening algorithm, in some cases maybe even the exact location. That can be even more true if the adversary has additional knowledge about the user.

Still, the approximate geolocation proposal is to give users and websites a way to reduce, at least in general, the amount of location information shared, and as such it seems to go in the right direction and to be a net positive change.

The problem of how to effectively convey information to users about the capabilities of the web (together with their privacy properties) and give them control upon them seems to me to be orthogonal to this proposal (and to be a much bigger topic).


> The problem of how to effectively convey information to users about the capabilities of the web (together with their privacy properties) and give them control upon them seems to me to be orthogonal to this proposal (and to be a much bigger topic).

I don't know if it is orthogonal. This relies on being able to communicate to the user what is going on and why it is any better than precise geolocation. Otherwise a site could just polyfill `navigator.geolocation` with reduced-precision alternatives if it wanted to handcuff itself. 

That said, I've personally encountered a real use case for this: I visit a chain of store's website site one-off and want to view what is in stock in stores in my city. They don't need to know what building I'm in right now. But it is an open question whether or not there is a coarsening & caching algorithm that could meet use cases and preserve location privacy to a defined degree. And if we can't protect our users against an adversary, it would be wrong of us to offer this to them as a protection.

That's a very common use case.  I have a different angle on that; one that doesn't involve any significant privacy leakage.

Let's say that the site publishes a list of all of its stores and their locations.  You could pick a store from that list that suited your needs.  This might use geolocation to find the closest, without revealing anything other than the final choice.  In any case, you reveal which stores you are interested in when you check stock levels for some stores and not others.

An API for that sort of thing would be difficult to build in a way that didn't turn into a triangulation service, but I suspect that this is far closer to what people are looking for in many cases.

This is harder when the set of things that are being queried is larger.  But there are things like PIR that are increasingly feasible for that application; and simpler schemes, like an iterative search, are potentially feasible when you loosen the non-requirement that servers be the only entities that obtain new information in any given exchange.

Thanks for your feedback and insights on the Approximate Geolocation proposal. I really appreciate your detailed perspective.

The current W3C Geolocation API, which offers an all-or-nothing choice for precise location, often doesn't provide a better privacy outcome. Users are frequently forced to grant highly precise data or nothing, even when a less precise location would suffice. This proposal aims to give users more granular control, letting them choose between precise or coarse access, which I see as a privacy enhancement and a better option for many common use cases.

It's indeed possible that a determined adversary might infer more precise location if they collect enough coarsened data. To tackle this refinement risk, I believe we should explore adding limitations to getCurrentPosition to limit the amount of approximate location data provided, and perhaps not even support approximate location on watchPosition. 

I also find the "geolocation chooser" idea quite interesting, and it certainly has a clear upside for user privacy. However, if the browser built this chooser directly, its use cases might be slightly restricted. Instead, websites could potentially build such a chooser themselves, leveraging the approximate position provided by this proposal as a helpful starting point.